---

---

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row justify-center">
    <img src="../public/assets/chucks.png" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold text-center md:text-left md:mx-4">Hi, I'm Carlos!</h1>
      <p class="py-6 text-sm mx-16 md:mx-4">I'm a web developer from Chicago. I began my journey in January 2022 by taking online courses in HTML, CSS, and JavaScript, and quickly fell in love with the world of web development. I have been spending most of my days since then, working on various web development projects, learning new technologies, and collaborating with other aspiring developers.
        <br>
        <br>
Although I am relatively new to the world of web development, I am highly motivated and dedicated to improving my skills. I am constantly challenging myself to learn new things and taking up various projects to sharpen my skills.
<br>
<br>

As I continue on this path, I aim to become a proficient full-stack developer and hope to use my skills to create innovative solutions for businesses and individuals alike. I am excited about the endless possibilities that web development holds and am eager to explore all that this field has to offer.</p>
      <button class="btn btn-primary md:mx-4">Contact Me</button>
    </div>
  </div>
</div>