---

---

<h2>Projects</h2>
<div class="space-y-24 flex flex-col justify-center items-center">

    <div class="card w-96 bg-base-100 shadow-xl">
      <figure><img src="../public/assets/calc_md.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          Calculator
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>JS Calc</p>
        <a href="https://carloscastanedadev.github.io/calculator/" target="_blank">
            <button class="btn btn-primary w-24">Visit</button>
        </a>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">JavaScript</div> 
          <div class="badge badge-outline">Tailwind</div>
        </div>
      </div>
    </div>
    
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure><img src="../public/assets/1rm_md.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          1 Rep Max Calculator
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>What is you r 1 rep max?</p>
        <a href="https://carloscastanedadev.github.io/1RM/" target="_blank">
            <button class="btn btn-primary w-24">Visit</button>
        </a>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">JavaScript</div> 
          <div class="badge badge-outline">Tailwind</div>
        </div>
      </div>
    </div>
    
    <div class="card w-96 bg-base-100 shadow-xl">
      <figure><img src="../public/assets/clock_md.png" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          Clock widget
          <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>What is the time?</p>
        <a href="https://carloscastanedadev.github.io/digital-clock/" target="_blank">
            <button class="btn btn-primary w-24">Visit</button>
        </a>
        <div class="card-actions justify-end">
          <div class="badge badge-outline">JavaScript</div> 
          <div class="badge badge-outline">Tailwind</div>
        </div>
      </div>
    </div>
</div>