---

---
<div class="h-screen flex flex-col content-center justify-center space-y-48">

    <h2 class="text-4xl flex justify-center">Technical Skills</h2>
    
    <div class="carousel space-x-14 mx-28">
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/html-1.svg" class="h-48" alt="Burger" />
        <h3 class="text-center text-2xl">HTML 5</h3>
      </div> 
      <div class="carousel-item flex flex-col space-y-8">
          <img src="../public/assets/logos/css-3.svg" class="h-48" alt="Burger" />
          <h3 class="text-center text-2xl">CSS 3</h3>
    </div> 
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/logo-javascript.svg" class="h-48" alt="Burger" />
        <h3 class="text-center text-2xl">JavaScript</h3>
      </div> 
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/react-2.svg" class="h-48" alt="Burger" />
        <h3 class="text-center text-2xl">React</h3>
      </div> 
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/tailwind.svg" class="h-48" alt="Burger" />
        <h3 class="text-center text-2xl">Tailwind</h3>
      </div> 
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/astro-icon.svg" class="h-48" alt="Burger" />
        <h3 class="text-center text-2xl">Astro</h3>
      </div> 
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/ruby.svg" class="h-48" alt="Burger" />
       <h3 class="text-center text-2xl">Ruby</h3> 
      </div>
      <div class="carousel-item flex flex-col space-y-8">
        <img src="../public/assets/logos/rails.png" class="h-48" alt="Burger" />
       <h3 class="text-center text-2xl">Rails</h3> 
      </div>
    </div>

</div>